In [32]:
import pandas as pd
import os

In [33]:
pd.__version__

'2.0.3'

In [34]:
df = pd.read_csv("yellow_tripdata_2021-01.csv")

C:\Users\aksha\AppData\Local\Temp\ipykernel_28464\2836296694.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("yellow_tripdata_2021-01.csv")

In [35]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [36]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

!pip install sqlalchemy psycopg2-binary

In [37]:
# to write data to database use sqlalchemy
#!pip install sqlalchemy
from sqlalchemy import create_engine

In [38]:
username = "root"
password = "root"
host = "localhost"
port = "5432"
dbname = "ny_taxi"

In [39]:
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{dbname}')

In [40]:
engine.connect()

In [41]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [42]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [43]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [44]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [45]:
from time import time

In [46]:
for df in df_iter:
    t_start = time()
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')
    
    t_end = time()
    
    print(f'Inserted a new chunk. Time taken (in s) -  {round(t_end-t_start,2)}')

Inserted a new chunk. Time taken (in s) -  14.56
Inserted a new chunk. Time taken (in s) -  13.83
Inserted a new chunk. Time taken (in s) -  13.51
Inserted a new chunk. Time taken (in s) -  14.52
Inserted a new chunk. Time taken (in s) -  13.89
Inserted a new chunk. Time taken (in s) -  13.84
Inserted a new chunk. Time taken (in s) -  14.36
Inserted a new chunk. Time taken (in s) -  14.95
Inserted a new chunk. Time taken (in s) -  13.4
Inserted a new chunk. Time taken (in s) -  13.36
Inserted a new chunk. Time taken (in s) -  13.33
Inserted a new chunk. Time taken (in s) -  13.19

C:\Users\aksha\AppData\Local\Temp\ipykernel_28464\904051732.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

Inserted a new chunk. Time taken (in s) -  12.73
Inserted a new chunk. Time taken (in s) -  8.01